@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  --bg-dark-clr: #002b36;
  --bg-dark-alt-clr: #073642;
  --fg-cold-clr: #586e75;
  --fg-cold-alt-clr: #657b83;
  --fg-warm-clr: #839496;
  --fg-warm-alt-clr: #93a1a1;
  --bg-light-clr: #eee8d5;
  --bg-light-alt-clr: #fdf6e3;
  --acc-yellow-clr: #b58900;
  --acc-orange-clr: #cb4b16;
  --acc-red-clr: #dc322f;
  --acc-magenta-clr: #d33682;
  --acc-violent-clr: #6c71c4;
  --acc-blue-clr: #268bd2;
  --acc-cyan-clr: #2aa198;
  --acc-green-clr: #859900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
