.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: var(--bg-dark-clr);
}
.textBox_1 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 70%;
  min-height: 6em;
  border: 0.5em solid var(--bg-dark-alt-clr);
}

.text_1_1 {
  font-size: 2em;
  height: fit-content;
  color: var(--fg-cold-clr);
}
.mainContent {
  display: flex;
  width: 100%;
  padding: 2em;
}
.content_1 {
  color: var(--fg-cold-clr);
  font-size: 2em;
  text-align: center;
}
.compSvg {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.cursorVisual {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background: var(--fg-cold-clr);
  animation: cursorVisual 1s infinite steps(1);
}
@keyframes cursorVisual {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
