.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: var(--bg-dark-clr);
}
.textBox_1 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 70%;
  min-height: 6em;
  border: 0.5em solid var(--bg-dark-alt-clr);
}
.textBox_1_anim {
  animation: textBox_1anim 10s forwards ease-in-out;
  animation-delay: 6s;
}
@keyframes textBox_1anim {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10em);
  }
  50% {
    transform: translateY(-10em);
  }
  60% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10em);
  }
}
.text_1_1 {
  font-size: 2em;
  height: fit-content;
  color: var(--fg-cold-clr);
}
.mainContent {
  display: flex;
  width: 100%;
  padding: 2em;
}
.mainContent_anim {
  animation: mainContent_anim 1s ease-in-out forwards;
  animation-delay: 15s;
}
@keyframes mainContent_anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10em);
  }
}
.content_1 {
  color: var(--fg-cold-clr);
  font-size: 2em;
  text-align: center;
}
.cursorVisual {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background: var(--fg-cold-clr);
  animation: cursorVisual 1s infinite steps(1);
}
@keyframes cursorVisual {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
