.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: var(--bg-light-clr);
}

.text_1_1 {
  font-size: 2em;
  height: fit-content;
  color: var(--bg-dark-clr);
}
.mainContent {
  display: grid;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  padding: 2em;
}
